body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#score {
    font-size: 34px;
}

#result {
    font-size: 28px;
}

#restart-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px auto;
}
